@font-face {
  font-family: "IBMPlexMono-Bold";
  src: url(../../../src/assets/fonts/IBMPlexMono-Bold.ttf);
}

@font-face {
  font-family: "IBMPlexMono-Medium";
  src: url(../../../src/assets/fonts/IBMPlexMono-Medium.ttf);
}

@font-face {
  font-family: "IBMPlexMono-Regular";
  src: url(../../../src/assets/fonts/IBMPlexMono-Regular.ttf);
}

@font-face {
  font-family: "IBMPlexMono-SemiBold";
  src: url(../../../src/assets/fonts/IBMPlexMono-SemiBold.ttf);
}

/* Primary Color */
body,
html {
  line-height: 1;
  height: 100%;
  font-family: "IBMPlexMono-Regular" !important;
}
body {
  font-size: 14px;
  color: #373535;
  font-family: "IBMPlexMono-Regular";
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}
a:hover {
  text-decoration: none;
}

@media (max-width: 300px) {
  .container {
    padding-right: 10px;
    padding-left: 10px;
  }
}
