@import "transition-style";

.mainBg {
  background-color: #fff;
  height: 100vh;
  width: 100%;
  padding: 2% 8%;
}
.MuiPopover-paper {
  background-color: #ffffff !important;
  color: rgba(0, 0, 0, 0.87) !important;
  border: 2px solid black !important;
  border-radius: 5px !important;
  padding: 10%;
  width: 84%;
}

.paper {
  position: relative;
}
.paper {
  height: 27vh;
}
.color-overlay {
  background: rgb(247 247 247 / 0%);
  mix-blend-mode: overlay;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.paper::before,
.paper::after {
  background: linear-gradient(174deg, #000000 22%, #898989a6 40%),
    linear-gradient(46deg, #000000 31%, #ffffff 35%),
    linear-gradient(95deg, #000000 15%, #ffffff 28%),
    linear-gradient(47deg, #72707091 76%, #ffffff 87%),
    linear-gradient(171deg, #000000 13%, #ffffff 16%),
    linear-gradient(52deg, #000000 43%, #ffffff 63%),
    linear-gradient(113deg, #000000 14%, #ffffff 18%),
    linear-gradient(136deg, #000000 42%, #ffffff 54%),
    linear-gradient(34deg, #000000 45%, #ffffff 56%),
    linear-gradient(116deg, #42393994 8%, #ffffff 14%),
    linear-gradient(89deg, #000000 5%, #ffffff 9%),
    linear-gradient(80deg, #000000 74%, #ffffff 81%),
    linear-gradient(91deg, #000000 71%, #ffffff 88%),
    linear-gradient(109deg, #000000 69%, #ffffff 79%),
    linear-gradient(134deg, #000000 52%, #ffffff 71%),
    linear-gradient(114deg, #000000 60%, #ffffff 75%),
    linear-gradient(74deg, #000000 96%, #ffffff 99%),
    linear-gradient(74deg, #000000 11%, #ffffff 12%),
    linear-gradient(165deg, #000000 16%, #ffffff 22%),
    linear-gradient(107deg, #000000 16%, #ffffff 18%),
    linear-gradient(52deg, #000000 68%, #ffffff 72%),
    linear-gradient(42deg, #000000 55%, #ffffff 65%),
    linear-gradient(171deg, #000000 54%, #ffffff 63%),
    linear-gradient(119deg, #000000 27%, #ffffff 47%),
    linear-gradient(152deg, #000000 89%, #ffffff 109%),
    linear-gradient(36deg, #000000 36%, #ffffff 55%),
    linear-gradient(129deg, #000000 76%, #817c7cf2 77%),
    linear-gradient(70deg, #000000 7%, #ffffff 11%),
    linear-gradient(119deg, #000000 13%, #ffffff 21%),
    linear-gradient(38deg, #000000 16%, #565353 27%),
    linear-gradient(117deg, #000000 71%, #ffffff 74%),
    linear-gradient(170deg, #000000 93%, #ffffff 96%),
    linear-gradient(82deg, #000000 98%, #ffffff 100%),
    linear-gradient(152deg, #000000 14%, #ffffff 30%),
    linear-gradient(170deg, #000000 8%, #ffffff 27%),
    linear-gradient(82deg, #000000 99%, #ffffff 115%),
    linear-gradient(117deg, #000000 57%, #ffffff 58%),
    linear-gradient(132deg, #000000 26%, #ffffff 33%),
    linear-gradient(135deg, #000000 56%, #ffffff 71%);
  /* background: linear-gradient(174deg, #000000 22%, #ffffff 40%),
    linear-gradient(46deg, #000000 31%, #ffffff 35%),
    linear-gradient(95deg, #000000 15%, #ffffff 28%),
    linear-gradient(47deg, #000000 76%, #ffffff 87%),
    linear-gradient(171deg, #000000 13%, #ffffff 16%),
    linear-gradient(52deg, #000000 43%, #ffffff 63%),
    linear-gradient(113deg, #000000 14%, #ffffff 18%),
    linear-gradient(136deg, #000000 42%, #ffffff 54%),
    linear-gradient(34deg, #000000 45%, #ffffff 56%),
    linear-gradient(116deg, #000000 8%, #ffffff 14%),
    linear-gradient(89deg, #000000 5%, #ffffff 9%),
    linear-gradient(80deg, #000000 74%, #ffffff 81%),
    linear-gradient(91deg, #000000 71%, #ffffff 88%),
    linear-gradient(109deg, #000000 69%, #ffffff 79%),
    linear-gradient(134deg, #000000 52%, #ffffff 71%),
    linear-gradient(114deg, #000000 60%, #ffffff 75%),
    linear-gradient(74deg, #000000 96%, #ffffff 99%),
    linear-gradient(74deg, #000000 11%, #ffffff 12%),
    linear-gradient(165deg, #000000 16%, #ffffff 22%),
    linear-gradient(107deg, #000000 16%, #ffffff 18%),
    linear-gradient(52deg, #000000 68%, #ffffff 72%),
    linear-gradient(42deg, #000000 55%, #ffffff 65%),
    linear-gradient(171deg, #000000 54%, #ffffff 63%),
    linear-gradient(119deg, #000000 27%, #ffffff 47%),
    linear-gradient(152deg, #000000 89%, #ffffff 109%),
    linear-gradient(36deg, #000000 36%, #ffffff 55%),
    linear-gradient(129deg, #000000 76%, #ffffff 77%),
    linear-gradient(70deg, #000000 7%, #ffffff 11%),
    linear-gradient(119deg, #000000 13%, #ffffff 21%),
    linear-gradient(38deg, #000000 16%, #ffffff 27%),
    linear-gradient(117deg, #000000 71%, #ffffff 74%),
    linear-gradient(170deg, #000000 93%, #ffffff 96%),
    linear-gradient(82deg, #000000 98%, #ffffff 100%),
    linear-gradient(152deg, #000000 14%, #ffffff 30%),
    linear-gradient(170deg, #000000 8%, #ffffff 27%),
    linear-gradient(82deg, #000000 99%, #ffffff 115%),
    linear-gradient(117deg, #000000 57%, #ffffff 58%),
    linear-gradient(132deg, #000000 26%, #ffffff 33%),
    linear-gradient(135deg, #000000 56%, #ffffff 71%); */
  background-blend-mode: difference;
  content: "";
  display: block;
  position: absolute;
  top: 6px;
  right: 0;
  bottom: 0;
  left: 6px;
}
